{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true,
    "afterAll": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/__mocks__/*.js"]}]
  },
}